
  <ion-header>
      <ion-toolbar color="">
          <ion-title> 
              <span>
                <ion-icon name="key"></ion-icon>
              </span>
               Your Management</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
          <ion-item>
            <ion-icon name="document"></ion-icon>
                Reports
           
          </ion-item>
          <ion-item>
            <ion-icon name="radio-button-off"></ion-icon>
                POI
            
          </ion-item>
          <ion-item>
              <ion-icon name="locate-outline"></ion-icon>
                Geo-fences
          </ion-item>
          <ion-item>
            <ion-icon name="create"></ion-icon>
              History
            </ion-item>
          <ion-item>
            <ion-icon name="settings"></ion-icon>
              Settings
            </ion-item>
      </ion-list>
  </ion-content>


<ion-router-outlet id="main"></ion-router-outlet>