
<ion-header>
  <ion-toolbar>

    <ion-item>
      <ion-icon (click)="navigate()" name="chevron-back-outline"></ion-icon>
    </ion-item>
    
  </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-content>
       <ion-list>

        <ion-item *ngFor="let device of devices">
          <ion-icon [style.color]=" (device.status==='moving')? 'green ' : 
           (device.status==='idling')? 'yellow'  : (device.status==='parking'? 'red' : null) " name="car-outline"></ion-icon>
          <ion-label>
            {{device.name}}
          </ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
       </ion-list>
          
    
</ion-content>


<ion-router-outlet id="main"></ion-router-outlet>

